{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env fish
set -Ux NODE_COMPILE_CACHE /var/tmp/node-compile-cache
mkdir -p /var/tmp/node-compile-cache
fish_add_path -m ~/.local/bin ~/bin
fish_add_path /home/linuxbrew/.linuxbrew/bin
set -Ux PNPM_HOME "{{ .chezmoi.homeDir }}/.local/share/pnpm"
fish_add_path $PNPM_HOME
exit 0
{{- end }}
