{{- if eq .chezmoi.os "linux" }}

sudo apt-get install p7zip-full docker.io
curl -fsSL https://tailscale.com/install.sh | sh
curl https://mise.run | sh

mise install

cd ~
.local/bin/mise activate bash | source
cp ".agents/.skill-lock.json" "skills-lock.json"
bun x skills experimental_install
Remove-Item -Path "skills-lock.json"
{{- end }}
