{{- if eq .chezmoi.os "windows" }}
function AddToPath {
      param([string]$pathToAdd)
      if (Test-Path $pathToAdd) {
          $userPath = [Environment]::GetEnvironmentVariable("PATH", "User")
          if ($userPath -notlike "*$pathToAdd*") {
               $pathToAdd += ";$userPath"
              [Environment]::SetEnvironmentVariable("PATH", $userPath, "User")
          }
      }
}

AddToPath "C:\msys64\ucrt64\bin"
AddToPath "C:\msys64\usr\bin"
AddToPath "$env:USERPROFILE\AppData\Local\mise\shims"
AddToPath "$env:USERPROFILE\.local\bin"

[Environment]::SetEnvironmentVariable("EDITOR", "code", "User")
[Environment]::SetEnvironmentVariable("PYTHONUTF8", "1", "User")
[Environment]::SetEnvironmentVariable("PYTHONIOENCODING", "utf-8", "User")
[Environment]::SetEnvironmentVariable("OPENCODE_ENABLE_EXA", "true", "User")

$Env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

bat cache --build
komorebic enable-autostart --whkd
yasbc enable-autostart
{{- end }}
