{{- if eq .chezmoi.os "windows" }}
winget import -i "$env:userprofile/.local/share/chezmoi/.hidden/winget.json" --accept-package-agreements --accept-source-agreements

# fontget

fontget import "$env:userprofile/.local/share/chezmoi/.hidden/fontget.json" --accept-agreements --accept-defaults

# betterdiscord

mise install
mise activate pwsh | Out-String | Invoke-Expression
bdcli install

# skills

Set-Location $env:USERPROFILE
Copy-Item -Path ".agents/.skill-lock.json" -Destination "skills-lock.json"
bun x skills experimental_install
Remove-Item -Path "skills-lock.json"

# choco

Start-Process "choco" -ArgumentList "install", "$env:USERPROFILE\.local\share\chezmoi\.hidden\packages.config", "-y" -Verb RunAs
{{- end }}
