{{- if eq .chezmoi.os "windows" }}
Read-Host "Login to spotify"
spicetify update
Set-Location $env:TEMP
gix.exe clone https://gitlab.com/Sanoojes/spicetify-lucid.git
Set-Location Spicetify-Lucid
deno run build
Copy-Item -Recurse src/* $env:APPDATA\spicetify\Themes\Lucid
spicetify backup apply enable-devtools
rm "$env:TEMP/Spicetify-Lucid"
{{- end }}
