<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="Ghostscript" />
  <package id="Ghostscript.app" />
  <package id="tesseract" />
  <package id="tesseract-ocr" />
  <package id="unpaper" />
</packages>