{{ if eq .chezmoi.os "android" -}}
[".config/bat/themes/Catppuccin Mochq.tmTheme"]
{{- end }}
{{ if eq .chezmoi.os "windows" -}}
["AppData/Roaming/bat/themes/Catppuccin Mocha.tmTheme"]
{{- end }}
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"
refreshPeriod = "168h"

{{ if eq .chezmoi.os "android" -}}
[".oh-my-zsh/custom/themes/powerlevel10k"]
type = "git-repo"
url = "https://github.com/romkatv/powerlevel10k.git"
refreshPeriod = "168h"
{{- end }}
