/* from https://github.com/MeowIce/TranslucencePlus with a few mods*/

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://upload.wikimedia.org/wikipedia/commons/8/8c/Transparent.png);
	--app-margin: 0px;
	--accent-hue: 192;
	--accent-saturation: 72.3%;
	--accent-lightness: 68.8%;
	--accent-opacity: 1;
	--accent-text-color: #000;

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2);

	--message-color: rgba(0,0,0,0);
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1;
	--mention-opacity: 0.25;

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7);
	
	--button-action-color: #000;

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777;

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}

.embedFull-1HGV2S,
[class*=theme-] .invite-3uuHYQ,
[class*=theme-] .wrapperAudio-1Bzv_Z,
.wrapper-1HIH0j,
.attachment-1PZZB2,
[class*=theme-] .tile-2mmK5T,
[class*=theme-] .tile-2mmK5T:hover {
    background-color: rgba(40, 40, 40, 0.4);
}

.wrapper__09ecc {
  background-color: transparent !important;
}

.wrapper__09ecc:hover, .wrapper__09ecc.selected_fd9051 {
  background-color: var(--message-color) !important;
}

.wrapper__09ecc.mentioned__58017 {
  background-color: hsl(var(--mention-hsl), var(--mention-opacity)) !important;
  box-shadow: none;
}

.embedHorizontal_dd276f {
	background-color: rgb(40, 40, 40, 0.7);
}

.lookFilled_dd4f85 {
	--button-background: rgb(90, 90, 90, 0.7);
}

.itemCard_f02fcf, .wrapper_cd82a7, .outer_ac5d22, .padded_ac5d22, .interactive_ac5d22 {
	background-color: rgb(40, 40, 40, 0.4);
}

.body_cd82a7, .inset_ac5d22, .guildSection_e58351, .emojiSection_e58351 {
	background-color: rgb(60, 60, 60, 0.5);
}

/* my stuff */

@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-pink.theme.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  font-family: 'JetBrains Mono', monospace !important;
}