[Spotify]
spotify_path = C:\Users\{{ splitList "\\" .chezmoi.username | last }}\AppData\Local\Spotify\Spotify.exe
prefs_path   = C:\Users\{{ splitList "\\" .chezmoi.username | last }}\AppData\Roaming\Spotify\prefs

[Behavior]
check_update    = true
auto_update     = true
save_dataFolder = true

[Visual]
inject_css       = 1
inject_theme_js  = 1
replace_colors   = 1
overwrite_assets = 1

[AdditionalOptions]
extensions            = adblock.js|spicy-lyrics.mjs
custom_apps           = 
sidebar_config        = 0
home_config           = 1
experimental_features = 1

[Patch]

[Setting]
spotify_path           = C:\Users\{{ splitList "\\" .chezmoi.username | last }}\AppData\Roaming\Spotify
prefs_path             = C:\Users\{{ splitList "\\" .chezmoi.username | last }}\AppData\Roaming\Spotify\prefs
color_scheme           = mocha
inject_theme_js        = 1
inject_css             = 1
replace_colors         = 1
overwrite_assets       = 0
spotify_launch_flags   = 
current_theme          = catppuccin
check_spicetify_update = 1
always_enable_devtools = 0

[Preprocesses]
disable_sentry     = 1
disable_ui_logging = 1
remove_rtl_rule    = 1
expose_apis        = 1

[Backup]
current_version = 1.2.79.427.g80eb4a07
version         = 1.2.79.427.g80eb4a07
with            = {{ output "powershell" "-Command" "(Invoke-RestMethod 'https://api.github.com/repos/spicetify/cli/releases/latest').tag_name.Substring(1)" }}
