[Spotify]
spotify_path = C:\Users\{{ env "USERNAME" }}\AppData\Local\Spotify\Spotify.exe
prefs_path   = C:\Users\{{ env "USERNAME" }}\AppData\Roaming\Spotify\prefs

[Behavior]
check_update    = true
auto_update     = true
save_dataFolder = true

[Visual]
inject_css       = 1
inject_theme_js  = 1
replace_colors   = 1
overwrite_assets = 1

[AdditionalOptions]
extensions            = adblock.js|spicy-lyrics.mjs|phraseToPlaylist.js
custom_apps           = 
sidebar_config        = 0
home_config           = 1
experimental_features = 1

[Patch]

[Setting]
spotify_path           = C:\Users\{{ env "USERNAME" }}\AppData\Roaming\Spotify
prefs_path             = C:\Users\{{ env "USERNAME" }}\AppData\Roaming\Spotify\prefs
inject_theme_js        = 1
inject_css             = 1
replace_colors         = 1
overwrite_assets       = 0
spotify_launch_flags   = 
current_theme          = Lucid
check_spicetify_update = 1
always_enable_devtools = 0
color_scheme           = 

[Preprocesses]
disable_sentry     = 1
disable_ui_logging = 1
remove_rtl_rule    = 1
expose_apis        = 1

[Backup]
current_version = 1.2.88.483.g8aa8628e
version         = 1.2.88.483.g8aa8628e
with            = 2.43.2
