[tools]
node = "latest"
bun = "latest"
deno = "latest"
go = "latest"
uv = "latest"
pnpm = "latest"
opencode = "latest"
fastfetch = "latest"
hyperfine = "latest"
lazydocker = "latest"
lazygit = "latest"
gitleaks = "latest"
age = "latest"
delta = "latest"
fd = "latest"
fzf = "latest"
zoxide = "latest"
eza = "latest"
bat = "latest"
glow = "latest"
pandoc = "latest"
gh = "latest"
ripgrep = "latest"
jq = "latest"
vercel = "latest"
sccache = "latest"
cargo-binstall = "latest"
{{- if eq .chezmoi.os "windows" }}
oh-my-posh = "latest"
rust = "latest"
{{- end }}

{{- if eq .chezmoi.os "windows" }}
"http:ffmpeg" = { version = "latest", url = "https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-full.7z", bin = "ffmpeg.exe", extract = true }

"pipx:ocrmypdf" = { version = "latest", uvx_args = "--with git+https://github.com/ocrmypdf/OCRmyPDF-EasyOCR.git --python 3.12 --index https://download.pytorch.org/whl/cu130" }
{{- end }}
"pipx:markitdown" = { version = "latest", uvx_args = "--python 3.12 --with python-pptx --with mammoth~=1.11.0 --with pandas --with openpyxl --with xlrd --with lxml --with pdfminer.six>=20251230 --with pdfplumber>=0.11.9 --with olefile --with pydub --with SpeechRecognition --with youtube-transcript-api~=1.0.0 --with azure-ai-documentintelligence --with azure-identity" }
"pipx:thefuck" = { version = "latest", uvx_args = "--python 3.11" }

"pipx:yt-dlp" = "latest"
"pipx:spotdl" = "latest"
"pipx:tldr" = "latest"
"pipx:copyparty" = "latest"
"pipx:magic-wormhole" = "latest"
"pipx:img2pdf" = "latest"
"pipx:pygments" = "latest"
"pipx:ansi2html" = "latest"
"pipx:mitmproxy" = "latest"
"pipx:llm-markdownify" = "latest"

"npm:fkill-cli" = "latest"
"npm:convex" = "latest"
"npm:tokscale" = "latest"

"github:GitOxideLabs/gitoxide" = "latest"
"github:babarot/gomi" = "latest"
{{- if eq .chezmoi.os "windows" }}
"github:BetterDiscord/cli" = "latest"
"npm:fast-cli" = "latest"
"github:Graphixa/FontGet" = "latest"
"github:AlDanial/cloc" = { version = "latest", asset_pattern = "cloc-*.exe", bin = "cloc.exe" }
"github:spicetify/cli" = "latest"
"github:ar51an/iperf3-win-builds" = "latest"
"github:mpv-player/mpv" = "latest"
{{- end }}
"github:aria2/aria2" = "latest"
"github:sharkdp/diskus" = "latest"

[settings]
pipx.uvx = true
npm.package_manager = "bun"
cargo.binstall = true
