[include]
    path = ~/.config/catppuccin.gitconfig
{{- $signingKey := "" }}
{{- if eq .chezmoi.os "windows" }}
{{- $signingKey = (output "powershell" "-NoProfile" "-Command" "$gpg='C:\\Program Files\\Git\\usr\\bin\\gpg.exe'; if (Test-Path $gpg) { $sec = & $gpg --list-secret-keys --with-colons --keyid-format LONG 2>$null | Select-String '^sec:' | Select-Object -First 1; if ($sec) { ($sec.ToString().Split(':'))[4] } }") | trim }}
{{- else if lookPath "gpg" }}
{{- $signingKey = (output "sh" "-c" "gpg --list-secret-keys --with-colons --keyid-format LONG 2>/dev/null | awk -F: '/^sec:/{print $5; exit}'") | trim }}
{{- end }}
[user]
	name = Karthikeyan KK
	email = kcube.jan+github@gmail.com
{{- if ne $signingKey "" }}
	signingkey = {{ $signingKey }}
{{- end }}
[core]
	autocrlf = input
	eol = lf
	editor = code --wait
	longpaths = true
	pager = delta
[receive]
	denyNonFastForwards = true
[push]
	autoSetupRemote = true
[diff]
    colorMoved = default
[delta]
    line-numbers = true
	navigate = true
    features = catppuccin-mocha
    side-by-side = true
    hyperlinks = true
[init]
    defaultbranch = main
    templateDir = ~/.config/git/template
[interactive]
	diffFilter = delta --color-only
[merge]
    tool = vscode
	conflictStyle = zdiff3
[mergetool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
    rebase = true
[rebase]
    autoStash = true
[status]
    branch = true
    showStash = true
    showUntrackedFiles = normal
    submoduleSummary = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[commit]
	gpgsign = {{ if ne $signingKey "" }}true{{ else }}false{{ end }}
[gpg]
	format = openpgp
{{- if eq .chezmoi.os "windows" }}
	program = "C:\\Program Files\\Git\\usr\\bin\\gpg.exe"
{{- else }}
	program = gpg
{{- end }}
