@import "Nebula/Nebula.css";
@import "Catppuccin/Catppuccin.css";

#PersonalToolbar {
  display: none !important;
  visibility: collapse !important;
  max-height: 0 !important;
  min-height: 0 !important;
  height: 0 !important;
}
